<h5 class="input-group mb-3"> {{janela}} </h5>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <label class="input-group-text" for="numero">Número</label>
    </div>
    <input [(ngModel)]="objeto.numero" id="descricao" type="text" 
        class="form-control" placeholder="numero" required="">
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <label class="input-group-text" for="titulo">Descrição</label>
    </div>
    <input [(ngModel)]="objeto.descricao" id="descricao" type="text" 
        class="form-control" placeholder="descricao" required="">
</div>