<h5 class="input-group mb-3"> {{janela}} </h5>
<div class="input-group"  >
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="numero">Numero</label>
        </div>
        <input #numero [(ngModel)]="objeto.numero" type="text" id="numero" class="form-control" 
            required placeholder="numero" >
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="sigla">Sigla</label>
        </div>
        <input #numero [(ngModel)]="objeto.sigla" type="text" id="sigla" class="form-control" 
            placeholder="sigla" required >
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="titulo">Título</label>
        </div>
        <input #titulo [(ngModel)]="objeto.titulo" id="titulo" type="text" class="form-control" 
            placeholder="título" required >
    </div>


    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Descrição</span>
        </div>
        <textarea #descricao [(ngModel)]="objeto.descricao" id="descricao" class="form-control" 
            aria-label="With textarea" requeired ></textarea>
    </div>
</div>