<h5 class="input-group mb-3"> {{janela}} </h5>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <label class="input-group-text" for="titulo">Nome</label>
    </div>
    <input #titulo [(ngModel)]="objeto.nome" id="nome" type="text" class="form-control" placeholder="título" required="">
</div>


<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">Descrição</span>
    </div>
    <textarea #descricao [(ngModel)]="objeto.descricao" id="descricao"  class="form-control" aria-label="With textarea"></textarea>
</div>