<h2> Regras de Negócio </h2>
<div class="row">
    <div class="col">
        Disponíveis
        <div class="list-group ">
            <button *ngFor="let rn of rns" class="list-group-item list-group-item-info"
                (click)="seleciona(rn)" >
                {{rn.sigla}}{{rn.numero  | number: '2.0-2'}} - {{rn.titulo}}
        </button>
    </div>
</div>
<div class="col">
    Selecionadas
    <div class="list-group">
        <button *ngFor="let rn of selrns" class="list-group-item list-group-item-info"
            (click)="remove(rn)" >
            {{rn.sigla}}{{rn.numero  | number: '2.0-2'}} - {{rn.titulo}}
    </button>
</div>
</div>
</div>


