
<ul class="passos list-group ">
    <li class="list-group-item " *ngFor="let passo of passos" >  
        <div class="input-group">
            <h5>{{passo.numero}} - {{passo.descricao}}  </h5>

            <div class="input-group-append">
                <!--<button class="btn btn-outline-primary "  title="excluir projeto" >esboço</button>-->
                <button class="btn btn-sm btn-outline-primary" aria-label="Novo" (click)="novaRn(content)" >
                    <span aria-hidden="true">n</span>
                </button>
            </div>
        </div>
    <app-rn-lista [passo]="passo"></app-rn-lista>
</li>
<li class="list-group-item " > 
    <button class="btn btn-sm btn-outline-primary" aria-label="Novo"  >
        <span aria-hidden="true">incluir passo</span>
    </button>
</li>
</ul>


<!--<app-rn-novo [rn]="rn" (aoGravar)="c('gravar')"></app-rn-novo>-->


