<h2> Casos de Uso  
    <button class="btn btn-outline-info"  placement="top" ngbTooltip="Novo Caso de Uso"   
           aria-label="Novo" (click)="facadeService.abreJanelaX('casouso')" >
        <i class="material-icons"> note_add </i>
    </button> </h2>

<div class=" list-group ">
    <button *ngFor="let casouso of casousos" class="list-group-item list-group-item-info"
        routerLink="/casouso/{{casouso.id}}">
        UC{{casouso.numero | number: '2.0-2'}} - {{casouso.titulo}}
    </button>
</div>
